# Dataset Cleanup

In [262]:
import pandas as pd

In [263]:
df = pd.read_csv('data/train.csv', index_col='PassengerId')
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [264]:
df.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [265]:
df.drop(['Name', 'Ticket'], axis=1, inplace=True)
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
PassengerId,,,,,,,,,
1,0,3,male,22.0,1,0,7.2500,NaN,S
2,1,1,female,38.0,1,0,71.2833,C85,C
3,1,3,female,26.0,0,0,7.9250,NaN,S
4,1,1,female,35.0,1,0,53.1000,C123,S
5,0,3,male,35.0,0,0,8.0500,NaN,S

In [266]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df['Cabin'].fillna('U', inplace=True)
df['Cabin'] = df['Cabin'].apply(lambda x: x.split()[0][0])
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
PassengerId,,,,,,,,,
1,0,3,male,22.000000,1,0,7.2500,U,S
2,1,1,female,38.000000,1,0,71.2833,C,C
3,1,3,female,26.000000,0,0,7.9250,U,S
4,1,1,female,35.000000,1,0,53.1000,C,S
5,0,3,male,35.000000,0,0,8.0500,U,S
...,...,...,...,...,...,...,...,...,...
887,0,2,male,27.000000,0,0,13.0000,U,S
888,1,1,female,19.000000,0,0,30.0000,B,S
889,0,3,female,29.699118,1,2,23.4500,U,S
890,1,1,male,26.000000,0,0,30.0000,C,C
891,0,3,male,32.000000,0,0,7.7500,U,Q

In [267]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80]
categorized_age = pd.cut(df['Age'], bins)
df['Categorized_age'] = categorized_age
df = df.drop(['Age'], axis=1)

cagegorized_age_columns = pd.get_dummies(df['Categorized_age'], prefix='Categorized_age')
df = pd.concat([df, cagegorized_age_columns], axis=1)
df = df.drop(['Categorized_age'], axis=1)

df.head()

,Survived,Pclass,Sex,SibSp,Parch,Fare,Cabin,Embarked,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]","Categorized_age_(60, 70]","Categorized_age_(70, 80]"
PassengerId,,,,,,,,,,,,,,,,
1,0,3,male,1,0,7.2500,U,S,False,False,True,False,False,False,False,False
2,1,1,female,1,0,71.2833,C,C,False,False,False,True,False,False,False,False
3,1,3,female,0,0,7.9250,U,S,False,False,True,False,False,False,False,False
4,1,1,female,1,0,53.1000,C,S,False,False,False,True,False,False,False,False
5,0,3,male,0,0,8.0500,U,S,False,False,False,True,False,False,False,False

In [268]:
cabin_columns = pd.get_dummies(df['Cabin'], prefix='Desk')
df = pd.concat([df, cabin_columns], axis=1)
df.drop('Cabin', axis=1, inplace=True)
df

,Survived,Pclass,Sex,SibSp,Parch,Fare,Embarked,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]",...,"Categorized_age_(70, 80]",Desk_A,Desk_B,Desk_C,Desk_D,Desk_E,Desk_F,Desk_G,Desk_T,Desk_U
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,3,male,1,0,7.2500,S,False,False,True,...,False,False,False,False,False,False,False,False,False,True
2,1,1,female,1,0,71.2833,C,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,1,3,female,0,0,7.9250,S,False,False,True,...,False,False,False,False,False,False,False,False,False,True
4,1,1,female,1,0,53.1000,S,False,False,False,...,False,False,False,True,False,False,False,False,False,False
5,0,3,male,0,0,8.0500,S,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,male,0,0,13.0000,S,False,False,True,...,False,False,False,False,False,False,False,False,False,True
888,1,1,female,0,0,30.0000,S,False,True,False,...,False,False,True,False,False,False,False,False,False,False
889,0,3,female,1,2,23.4500,S,False,False,True,...,False,False,False,False,False,False,False,False,False,True
890,1,1,male,0,0,30.0000,C,False,False,True,...,False,False,False,True,False,False,False,False,False,False
891,0,3,male,0,0,7.7500,Q,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [269]:
gender_columns = pd.get_dummies(df['Sex'], prefix='Sex')
df = pd.concat([df, gender_columns], axis=1)
df.drop('Sex', axis=1, inplace=True)
df

,Survived,Pclass,SibSp,Parch,Fare,Embarked,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]",...,Desk_B,Desk_C,Desk_D,Desk_E,Desk_F,Desk_G,Desk_T,Desk_U,Sex_female,Sex_male
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,3,1,0,7.2500,S,False,False,True,False,...,False,False,False,False,False,False,False,True,False,True
2,1,1,1,0,71.2833,C,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
3,1,3,0,0,7.9250,S,False,False,True,False,...,False,False,False,False,False,False,False,True,True,False
4,1,1,1,0,53.1000,S,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
5,0,3,0,0,8.0500,S,False,False,False,True,...,False,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,0,0,13.0000,S,False,False,True,False,...,False,False,False,False,False,False,False,True,False,True
888,1,1,0,0,30.0000,S,False,True,False,False,...,True,False,False,False,False,False,False,False,True,False
889,0,3,1,2,23.4500,S,False,False,True,False,...,False,False,False,False,False,False,False,True,True,False
890,1,1,0,0,30.0000,C,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
891,0,3,0,0,7.7500,Q,False,False,False,True,...,False,False,False,False,False,False,False,True,False,True

In [270]:
embarked_columns = pd.get_dummies(df['Embarked'], prefix='Embarked')
df = pd.concat([df, embarked_columns], axis=1)
df.drop('Embarked', axis=1, inplace=True)
df

,Survived,Pclass,SibSp,Parch,Fare,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]",...,Desk_E,Desk_F,Desk_G,Desk_T,Desk_U,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,3,1,0,7.2500,False,False,True,False,False,...,False,False,False,False,True,False,True,False,False,True
2,1,1,1,0,71.2833,False,False,False,True,False,...,False,False,False,False,False,True,False,True,False,False
3,1,3,0,0,7.9250,False,False,True,False,False,...,False,False,False,False,True,True,False,False,False,True
4,1,1,1,0,53.1000,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,True
5,0,3,0,0,8.0500,False,False,False,True,False,...,False,False,False,False,True,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,0,0,13.0000,False,False,True,False,False,...,False,False,False,False,True,False,True,False,False,True
888,1,1,0,0,30.0000,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,True
889,0,3,1,2,23.4500,False,False,True,False,False,...,False,False,False,False,True,True,False,False,False,True
890,1,1,0,0,30.0000,False,False,True,False,False,...,False,False,False,False,False,False,True,True,False,False
891,0,3,0,0,7.7500,False,False,False,True,False,...,False,False,False,False,True,False,True,False,True,False

In [271]:
pclass_columns = pd.get_dummies(df['Pclass'], prefix='Pclass')
df = pd.concat([df, pclass_columns], axis=1)
df.drop('Pclass', axis=1, inplace=True)
df

,Survived,SibSp,Parch,Fare,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]",...,Desk_T,Desk_U,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,7.2500,False,False,True,False,False,False,...,False,True,False,True,False,False,True,False,False,True
2,1,1,0,71.2833,False,False,False,True,False,False,...,False,False,True,False,True,False,False,True,False,False
3,1,0,0,7.9250,False,False,True,False,False,False,...,False,True,True,False,False,False,True,False,False,True
4,1,1,0,53.1000,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,False,False
5,0,0,0,8.0500,False,False,False,True,False,False,...,False,True,False,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,0,0,13.0000,False,False,True,False,False,False,...,False,True,False,True,False,False,True,False,True,False
888,1,0,0,30.0000,False,True,False,False,False,False,...,False,False,True,False,False,False,True,True,False,False
889,0,1,2,23.4500,False,False,True,False,False,False,...,False,True,True,False,False,False,True,False,False,True
890,1,0,0,30.0000,False,False,True,False,False,False,...,False,False,False,True,True,False,False,True,False,False
891,0,0,0,7.7500,False,False,False,True,False,False,...,False,True,False,True,False,True,False,False,False,True

In [272]:
df.to_csv('data/train_clean.csv')

In [273]:
test_df = pd.read_csv('data/test.csv', index_col='PassengerId')
test_df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [274]:
test_df.isna().sum()

Pclass        0
Name          0
Sex           0
Age          86
SibSp         0
Parch         0
Ticket        0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [275]:
test_df.drop(['Name', 'Ticket'], axis=1, inplace=True)

In [276]:
test_df['Age'].fillna(test_df['Age'].mean(), inplace=True)
test_df['Fare'].fillna(test_df['Fare'].mean(), inplace=True)
test_df['Cabin'].fillna('U', inplace=True)
test_df['Cabin'] = test_df['Cabin'].apply(lambda x: x.split()[0][0])

In [277]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80]
categorized_age = pd.cut(test_df['Age'], bins)
test_df['Categorized_age'] = categorized_age
test_df = test_df.drop(['Age'], axis=1)

cagegorized_age_columns = pd.get_dummies(test_df['Categorized_age'], prefix='Categorized_age')
test_df = pd.concat([test_df, cagegorized_age_columns], axis=1)
test_df = test_df.drop(['Categorized_age'], axis=1)

test_df.head()

,Pclass,Sex,SibSp,Parch,Fare,Cabin,Embarked,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]","Categorized_age_(60, 70]","Categorized_age_(70, 80]"
PassengerId,,,,,,,,,,,,,,,
892,3,male,0,0,7.8292,U,Q,False,False,False,True,False,False,False,False
893,3,female,1,0,7.0000,U,S,False,False,False,False,True,False,False,False
894,2,male,0,0,9.6875,U,Q,False,False,False,False,False,False,True,False
895,3,male,0,0,8.6625,U,S,False,False,True,False,False,False,False,False
896,3,female,1,1,12.2875,U,S,False,False,True,False,False,False,False,False

In [278]:
test_df.isna().sum()

Pclass                      0
Sex                         0
SibSp                       0
Parch                       0
Fare                        0
Cabin                       0
Embarked                    0
Categorized_age_(0, 10]     0
Categorized_age_(10, 20]    0
Categorized_age_(20, 30]    0
Categorized_age_(30, 40]    0
Categorized_age_(40, 50]    0
Categorized_age_(50, 60]    0
Categorized_age_(60, 70]    0
Categorized_age_(70, 80]    0
dtype: int64

In [279]:
cabin_columns = pd.get_dummies(test_df['Cabin'], prefix='Desk')
test_df = pd.concat([test_df, cabin_columns], axis=1)
test_df.drop('Cabin', axis=1, inplace=True)
test_df.insert(21, 'Desk_T', False)
test_df

,Pclass,Sex,SibSp,Parch,Fare,Embarked,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]",...,"Categorized_age_(70, 80]",Desk_A,Desk_B,Desk_C,Desk_D,Desk_E,Desk_F,Desk_G,Desk_T,Desk_U
PassengerId,,,,,,,,,,,,,,,,,,,,,
892,3,male,0,0,7.8292,Q,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
893,3,female,1,0,7.0000,S,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
894,2,male,0,0,9.6875,Q,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
895,3,male,0,0,8.6625,S,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
896,3,female,1,1,12.2875,S,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3,male,0,0,8.0500,S,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
1306,1,female,0,0,108.9000,C,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
1307,3,male,0,0,7.2500,S,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
1308,3,male,0,0,8.0500,S,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
1309,3,male,1,1,22.3583,C,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True

In [280]:
gender_columns = pd.get_dummies(test_df['Sex'], prefix='Sex')
test_df = pd.concat([test_df, gender_columns], axis=1)
test_df.drop('Sex', axis=1, inplace=True)
test_df

,Pclass,SibSp,Parch,Fare,Embarked,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]",...,Desk_B,Desk_C,Desk_D,Desk_E,Desk_F,Desk_G,Desk_T,Desk_U,Sex_female,Sex_male
PassengerId,,,,,,,,,,,,,,,,,,,,,
892,3,0,0,7.8292,Q,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,True
893,3,1,0,7.0000,S,False,False,False,False,True,...,False,False,False,False,False,False,False,True,True,False
894,2,0,0,9.6875,Q,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
895,3,0,0,8.6625,S,False,False,True,False,False,...,False,False,False,False,False,False,False,True,False,True
896,3,1,1,12.2875,S,False,False,True,False,False,...,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3,0,0,8.0500,S,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,True
1306,1,0,0,108.9000,C,False,False,False,True,False,...,False,True,False,False,False,False,False,False,True,False
1307,3,0,0,7.2500,S,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,True
1308,3,0,0,8.0500,S,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,True
1309,3,1,1,22.3583,C,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,True

In [281]:
embarked_columns = pd.get_dummies(test_df['Embarked'], prefix='Embarked')
test_df = pd.concat([test_df, embarked_columns], axis=1)
test_df.drop('Embarked', axis=1, inplace=True)
test_df

,Pclass,SibSp,Parch,Fare,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]",...,Desk_E,Desk_F,Desk_G,Desk_T,Desk_U,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,,,,,,,,,
892,3,0,0,7.8292,False,False,False,True,False,False,...,False,False,False,False,True,False,True,False,True,False
893,3,1,0,7.0000,False,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,True
894,2,0,0,9.6875,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,True,False
895,3,0,0,8.6625,False,False,True,False,False,False,...,False,False,False,False,True,False,True,False,False,True
896,3,1,1,12.2875,False,False,True,False,False,False,...,False,False,False,False,True,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3,0,0,8.0500,False,False,False,True,False,False,...,False,False,False,False,True,False,True,False,False,True
1306,1,0,0,108.9000,False,False,False,True,False,False,...,False,False,False,False,False,True,False,True,False,False
1307,3,0,0,7.2500,False,False,False,True,False,False,...,False,False,False,False,True,False,True,False,False,True
1308,3,0,0,8.0500,False,False,False,True,False,False,...,False,False,False,False,True,False,True,False,False,True
1309,3,1,1,22.3583,False,False,False,True,False,False,...,False,False,False,False,True,False,True,True,False,False

In [282]:
pclass_columns = pd.get_dummies(test_df['Pclass'], prefix='Pclass')
test_df = pd.concat([test_df, pclass_columns], axis=1)
test_df.drop('Pclass', axis=1, inplace=True)
test_df

,SibSp,Parch,Fare,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]","Categorized_age_(60, 70]",...,Desk_T,Desk_U,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,,,,,,,,,,,,
892,0,0,7.8292,False,False,False,True,False,False,False,...,False,True,False,True,False,True,False,False,False,True
893,1,0,7.0000,False,False,False,False,True,False,False,...,False,True,True,False,False,False,True,False,False,True
894,0,0,9.6875,False,False,False,False,False,False,True,...,False,True,False,True,False,True,False,False,True,False
895,0,0,8.6625,False,False,True,False,False,False,False,...,False,True,False,True,False,False,True,False,False,True
896,1,1,12.2875,False,False,True,False,False,False,False,...,False,True,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,0,0,8.0500,False,False,False,True,False,False,False,...,False,True,False,True,False,False,True,False,False,True
1306,0,0,108.9000,False,False,False,True,False,False,False,...,False,False,True,False,True,False,False,True,False,False
1307,0,0,7.2500,False,False,False,True,False,False,False,...,False,True,False,True,False,False,True,False,False,True
1308,0,0,8.0500,False,False,False,True,False,False,False,...,False,True,False,True,False,False,True,False,False,True
1309,1,1,22.3583,False,False,False,True,False,False,False,...,False,True,False,True,True,False,False,False,False,True

In [283]:
test_df.to_csv('data/test_clean.csv')