In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('data/train_clean.csv', index_col='PassengerId')
df.head()

,Survived,SibSp,Parch,Fare,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]",...,Desk_T,Desk_U,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,7.2500,False,False,True,False,False,False,...,False,True,False,True,False,False,True,False,False,True
2,1,1,0,71.2833,False,False,False,True,False,False,...,False,False,True,False,True,False,False,True,False,False
3,1,0,0,7.9250,False,False,True,False,False,False,...,False,True,True,False,False,False,True,False,False,True
4,1,1,0,53.1000,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,False,False
5,0,0,0,8.0500,False,False,False,True,False,False,...,False,True,False,True,False,False,True,False,False,True

In [23]:
from sklearn.model_selection import train_test_split

features = df.drop(['Survived'], axis=1)
labels = df['Survived']

features_train, features_val, labels_train, labels_val = train_test_split(features, labels, test_size=0.2)

In [24]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(
    n_estimators=1000,
    max_depth=5,
)
model.fit(features_train, labels_train)
model.score(features_val, labels_val)

0.8268156424581006

In [25]:
test_df = pd.read_csv('data/test_clean.csv', index_col='PassengerId')
test_df

,SibSp,Parch,Fare,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]","Categorized_age_(60, 70]",...,Desk_T,Desk_U,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,,,,,,,,,,,,
892,0,0,7.8292,False,False,False,True,False,False,False,...,False,True,False,True,False,True,False,False,False,True
893,1,0,7.0000,False,False,False,False,True,False,False,...,False,True,True,False,False,False,True,False,False,True
894,0,0,9.6875,False,False,False,False,False,False,True,...,False,True,False,True,False,True,False,False,True,False
895,0,0,8.6625,False,False,True,False,False,False,False,...,False,True,False,True,False,False,True,False,False,True
896,1,1,12.2875,False,False,True,False,False,False,False,...,False,True,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,0,0,8.0500,False,False,False,True,False,False,False,...,False,True,False,True,False,False,True,False,False,True
1306,0,0,108.9000,False,False,False,True,False,False,False,...,False,False,True,False,True,False,False,True,False,False
1307,0,0,7.2500,False,False,False,True,False,False,False,...,False,True,False,True,False,False,True,False,False,True
1308,0,0,8.0500,False,False,False,True,False,False,False,...,False,True,False,True,False,False,True,False,False,True
1309,1,1,22.3583,False,False,False,True,False,False,False,...,False,True,False,True,True,False,False,False,False,True

In [26]:
test_df['Survived'] = model.predict(test_df)
test_df

,SibSp,Parch,Fare,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]","Categorized_age_(60, 70]",...,Desk_U,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,Survived
PassengerId,,,,,,,,,,,,,,,,,,,,,
892,0,0,7.8292,False,False,False,True,False,False,False,...,True,False,True,False,True,False,False,False,True,0
893,1,0,7.0000,False,False,False,False,True,False,False,...,True,True,False,False,False,True,False,False,True,0
894,0,0,9.6875,False,False,False,False,False,False,True,...,True,False,True,False,True,False,False,True,False,0
895,0,0,8.6625,False,False,True,False,False,False,False,...,True,False,True,False,False,True,False,False,True,0
896,1,1,12.2875,False,False,True,False,False,False,False,...,True,True,False,False,False,True,False,False,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,0,0,8.0500,False,False,False,True,False,False,False,...,True,False,True,False,False,True,False,False,True,0
1306,0,0,108.9000,False,False,False,True,False,False,False,...,False,True,False,True,False,False,True,False,False,1
1307,0,0,7.2500,False,False,False,True,False,False,False,...,True,False,True,False,False,True,False,False,True,0
1308,0,0,8.0500,False,False,False,True,False,False,False,...,True,False,True,False,False,True,False,False,True,0
1309,1,1,22.3583,False,False,False,True,False,False,False,...,True,False,True,True,False,False,False,False,True,0

In [27]:
test_df.to_csv('data/submission.csv', columns=['Survived'])